/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --dark-purpure: #db00ff;
  --dark-base-black: #000028;
  --dark-accent-color: rgb(255 0 112);
  --dark-pink: #ff8dcb;
  --dark-pink-text: #f1b2ce;
  --decoration-color: rgb(255 0 112);
  --border-color-opacity: #FF007066;

  --bg-image: url(../images/cover-image-dark.png);
  --page-padding: 10px;
  --page-padding-responsive: clamp(10px, 2.65vw, 20px);
  --decoration-gap: clamp(10px, 2.65vw, 20px);
  --base-font-size: 18px;
  --base-font-family: "IBM Plex Mono", monospace;
  --base-line-height: 23.4px;
  --base-font-color: var(--dark-pink-text);
  --accent-color: var(--dark-accent-color);
  --title-font-size: 116px;
  --title-decor: var(--dark-accent-color);
  --title-color: var(--dark-purpure);
  --list-item-title-color: var(--dark-base-black);
  --rec-color: var(--dark-accent-color);
  --button-color: var(--dark-accent-color);
  --content__section-title-color: var(--dark-accent-color);
}
